# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

.idea

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

project-service/projectservice
project-service/projectservice-linux-amd64
project-service/projects.db
project-service/healthchecker-linux-amd64

swarm-prometheus-discovery/swarm-prometheus-discovery-linux-amd64
swarm-prometheus-discovery/swarm-prometheus-discovery
swarm-prometheus-discovery

build
.gradle

token.txt

loadtest/loadtest
loadtest/target

dbloadtest/logs
dbloadtest/dbloadtest
dbloadtest/target
dbloadtest/logs/testFile.log

bin/