@using Web.Model
@using Web.Helpers
@using System.Reflection

<table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-justify uk-table-small">
    <caption>Projekt lista</caption>
    <thead>
        <tr>
            @foreach (var prop in  project.GetType().GetProperties() )
            {
              <th>@GetDisplayName(prop)</th>
            }
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Table Footer</td>
            <td>Table Footer</td>
            <td>Table Footer</td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
    </tbody>
</table>
    

@code {
    Project project = new Project { };
    List<Project> projects = new List<Project>();

    public string GetDisplayName(PropertyInfo property)
    {
        var dnh = new DisplayNameHelper();
        return dnh.GetDisplayName(property);
    }
}