@using Client.Components
@using Grpc.Net.Client
@using Server.gRPC
@page "/"



    <div class="ui one column doubling stackable grid container segment">
        <p>
            <input @bind="message" placeholder="Message" />
            <button @onclick="SendMessage" class="" >Get message</button>
        </p>
        Server response: <strong>@response</strong>
        <div class="column">
            <ProjectList />
        </div>
    </div>

@functions {
    string message = "";
    string response = "";

    async Task SendMessage()
    {
        Console.WriteLine("Now");
        var channel = GrpcChannel.ForAddress(message);
        var client = new Greeter.GreeterClient(channel);
        var reply = await client.SayHelloAsync(new HelloRequest { Name = message });
        response = reply.Message;
        Console.WriteLine($"{response} this is greeting");
        Console.WriteLine(reply.Message);
        Console.WriteLine(reply.CalculateSize().ToString());
    }
}