@using Client.Components
@page "/"



    <div class="ui one column doubling stackable grid container segment">
        <div class="column">
            <ProjectList />
        </div>
    </div>

@code {  
}