@inherits LayoutComponentBase

<div class="uk-light uk-background-secondary uk-position-cover">
    <img src="/assets/logo.png" style="width:150px;height:150px;" alt="Logo" class="uk-position-top-center uk-position-relative uk-margin-medium-bottom" ui-img>
    <div class="uk-container">
        @Body
    </div>
</div>
