@inherits LayoutComponentBase

<div>
    <img src="/assets/logo.png" width="200" height="200" alt="Logo" class="uk-position-top-center">
    <div class="uk-container">
        @Body
    </div>
</div>
