@using Client.Model
@using Client.Helpers
@using System.Reflection

<table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-justify uk-table-small">
    <caption>Projekt lista</caption>
    <thead>
        <tr>
            @foreach (var prop in  project.GetType().GetProperties() )
            {
              <th>@GetDisplayName(prop)</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var projectItem in projects)
        {
            <tr>
                @foreach(var data in projectItem.GetType().GetProperties())
                {
                   <td>@data.GetValue(projectItem, null)</td>
                }
            </tr>
        }
    </tbody>
</table>
    

@code {
    Project project = new Project { };
    List<Project> projects = new List<Project> {
    new Project{
        OrderId = 1412345, 
        Client = "Volvo", 
        Co = 13123.312f, 
        CreatedAt = DateTime.Now, 
        Manager = "John Doe",  
        Name = "Hus med vagg", 
        ProjectId = 2312312, 
        Sector = "BBB"} 
    };



    public string GetDisplayName(PropertyInfo property)
    {
        var dnh = new DisplayNameHelper();
        return dnh.GetDisplayName(property).ToLower();
    }
}